@page
@using Services
@model CrudModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.Name</td>
                    <td>
                        <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@customer.Id">Edit</a>
                        <button type="submit" asp-page-handler="delete"
                                asp-route-id="@customer.Id" class="btn btn-danger">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-page="./Create">Create</a>
</form>