@page
@using System.Security.AccessControl
@model OddCalculators.Pages.FinanceCalcModel
@{
    ViewData["Title"] = "Calculators";
}


<div class="container" id="body">
    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card">
                <div class="card-header">
                    <h5>Compound Interest</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        <label for="principal">Principal</label><input type="text" id="inputCompoundP" class="form-control form-control-sm" style="width: 50%" id="principal" />
                        <label for="timesCompounded">Times compounded per year</label><input type="text" id="inputCompoundN" class="form-control form-control-sm" style="width: 50%" id="timesCompounded" />
                        <label for="interest">Interest rate</label><input type="text" id="inputCompoundR" class="form-control form-control-sm" style="width: 50%" id="interest" />
                        <label for="time">Time in years</label><input type="text" id="inputCompoundT" class="form-control form-control-sm" id="time" style="width: 50%" /> <br />
                        <button class="btn btn-dark" type="button" id="compoundPost">Calculate</button> <span> </span>
                        <span style="color: green; font-size: 25px"><div id="compoundResultTxt"></div> </span>
                    </form>
                </div>
            </div>
        </div>
        
    </div> 
</div> 




<script>
    $('#compoundPost').on('click', function () {
        var compoundN = $('#inputCompoundN').val();
        var compoundR = $('#inputCompoundR').val();
        var compoundT = $('#inputCompoundT').val();
        var compoundP = $('#inputCompoundP').val();
        $.ajax({
            type: "POST",
            url: "/FinanceCalc?handler=CalcCompound",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: JSON.stringify({
                CompoundN: compoundN,
                CompoundR: compoundR,
                CompoundP: compoundP,
                CompoundT: compoundT
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $('#compoundResultTxt').html(response + "€");

            },
            failure: function (response) {
                alert(response);
            }
        });
    })
</script>