@page
@using Services
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="~/lib/css/typewriter.css" rel="stylesheet" />
<link href="~/lib/css/fade.css" rel="stylesheet" />


<div class="container">
    <div class="typewriter">
        <h1 class="mt-5">Welcome to OddCalculators!</h1>
    </div>    
    <div class="animate fadeInUp three">
        <p>This is a website for testing all sorts of things.
            Made with ASP.NET Core 2.1 and Bootstrap 4. <br/>The functionality is somewhat basic, but improving day by day.</p>
    </div>
</div>







